<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/ws_supply
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            max280697
        </property>

        <mapping resource = "Model.hbm.xml"/>
        <mapping resource = "Norm.hbm.xml"/>
        <mapping resource = "RawMaterial.hbm.xml"/>
        <mapping resource = "Requirement.hbm.xml"/>

    </session-factory>
</hibernate-configuration>